params {
  bedTools_container = "quay.io/biocontainers/bedtools:2.30.0--h7d7f7ad_2"
  pslMap_container   = 'quay.io/biocontainers/ucsc-pslmap:366--h5eb252a_0'
  bedtopsl_container = 'quay.io/biocontainers/ucsc-bedtopsl:377--ha8a8165_3'
  psltobed_container = 'quay.io/biocontainers/ucsc-psltobed:377--ha8a8165_3'

  referenceTissues 	= "$baseDir/data/cattle/ATAC/"
  queryTissues     	= "$baseDir/data/human/ATAC_idr_thresholded_peaks/"
  targetReferenceGenome = "$baseDir/data/bt9.genome"
  queryReferenceGenome  = "$baseDir/data/hg38.genome"
  queryConservation	= "$baseDir/data/91_mammals.gerp_constrained_elements.homo_sapiens.bed"
  cache            	= "$baseDir/data/cache_idr_thresholded_peaks"
  rev_cache        	= "$baseDir/data/cache_idr_thresholded_peaks_rev"
  compute_overlap 	= 'standard' // options: 'base', 'region'
  full_intersection	= false
  intersect_conservation= false
    
  method  = 'pslMap'
  swapMap = false
  chain  	 = "$baseDir/bosTau9ToHg38.over.chain.gz"
  swapped_chain	 = "$baseDir/hg38ToBosTau9.over.chain.gz"

}
